div.toolbar {
  display: grid;
  gap: 1rem;
  /*grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));*/
  grid-auto-flow: column;
  justify-content: start;
  align-content: center;
}

div.toolbar > a,
div.toolbar > span,
div.toolbar > div {
  width: max-content;
}
